java/target/
.idea/
.vscode/
.settings
.project
.classpath

*.csv
*.iml
.DS_Store
*__pycache__*
.env
*.ipynb
*.pkl
package*.json

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
java/src/main/frontend/generated/
java/vite.generated.ts
