* {
    box-sizing: border-box;
}

html {
    --size-s: .5rem;
    --size-m: .75rem;
    --size-l: 1.5rem;

    --bg-color: var(--lumo-contrast-10pct);

    --clr-stage-0: #D3B484;
    --clr-stage-1: #9EB9F3;
    --clr-stage-2: #8BE0A4;
    --clr-stage-3: #66C5CC;
    --clr-stage-4: #C9DB74;
    --clr-stage-5: #87C55F;
    --clr-stage-6: #F6CF71;
    --clr-stage-7: #F89C74;
    --clr-stage-8: #FE88B1;
    --clr-stage-9: #DCB0F2;
    --clr-stage-10: #B3B3B3;
    --clr-stage-11: #B3B3B3;
    --clr-stage-12: #B3B3B3;
}

button,
vaadin-button{
    cursor: pointer;
}

.background-bg {
    background: var(--bg-color);
}

.background-white {
    background: white
}

.width-full {
    width: 100%;
}

.width-200 {
    width: 200px;
}

.height-full {
    height: 100%;
}

.height-150px {
    height: 150px;
}

.max-height-full {
    max-height: 100%;
}

.min-height-0 {
    min-height: 0;
}

.min-height-150px {
    min-height: 150px;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-hidden {
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.text-wrap-no {
    text-wrap: nowrap;
}

.text-color-white {
    color: white;
    fill: white;
    stroke: white;
}

.text-color-gray {
    color: var(--lumo-tertiary-text-color);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}
.flex-justify-end {
    justify-content: end;
}

.flex-align-start {
    align-items: start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: end;
}

.padding-s {
    padding: var(--size-s);
}

.padding-m {
    padding: var(--size-m);
}

.padding-l {
    padding: var(--size-l);
}

.margin-s {
    margin: var(--size-s);
}

.margin-m {
    margin: var(--size-m);
}

.margin-l {
    margin: var(--size-l);
}

.gap-s {
    gap: var(--size-s);
}

.gap-m {
    gap: var(--size-m);
}

.gap-l {
    gap: var(--size-l);
}

.border-radius-s {
    border-radius: var(--size-s);
}

.border-radius-m {
    border-radius: var(--size-m);
}

.border-radius-l {
    border-radius: var(--size-l);
}

.border-width-s {
    border-width: 1px;
}

.border-style-solid {
    border-style: solid;
}

.border-style-dashed {
    border-style: dashed;
}

.border-color-gray {
    border-color: var(--lumo-tertiary-text-color);
}

.font-size-xs {
    font-size: x-small;
}

.font-size-s {
    font-size: smaller;
}

.font-size-l {
    font-size: larger;
}

.font-weight-bold {
    font-weight: bold;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.text-link {
    color: var(--lumo-primary-text-color);
    cursor: pointer;
}

.text-link:hover {
    text-decoration: underline;
}

.cell {
    position: relative;
    overflow: visible;
    cursor: pointer;
}

.cell:hover {
    scale: 1.2;
    transform-box: fill-box;
    transform-origin: 50% 50%;
    z-index: 10;
}

.matrix-tooltip {
    background: rgba(60,60,60,0.95);
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: pre;
}

.legend-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-m);
    padding: var(--size-m);
    width: 100%;

    align-items: end;
}

vaadin-grid::part(hover-highlight) {
    background-color: var(--lumo-contrast-20pct);
}

vaadin-grid::part(uploaded) {
    background-color: var(--lumo-primary-color-10pct);
}
