* {
    box-sizing: border-box;
}

html {
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 2rem;

    --bg-color: var(--lumo-contrast-10pct);
}

button,
vaadin-button{
    cursor: pointer;
}

.background-bg {
    background: var(--bg-color);
}

.background-white {
    background: white
}

.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.height-150px {
    height: 150px;
}

.min-height-0 {
    min-height: 0;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.text-wrap-no {
    text-wrap: nowrap;
}

.text-color-white {
    color: white;
    fill: white;
    stroke: white;
}

.text-color-gray {
    color: var(--lumo-tertiary-text-color);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}
.flex-justify-end {
    justify-content: end;
}

.flex-align-start {
    align-items: start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: end;
}

.padding-s {
    padding: var(--size-s);
}

.padding-m {
    padding: var(--size-m);
}

.padding-l {
    padding: var(--size-l);
}

.margin-s {
    margin: var(--size-s);
}

.margin-m {
    margin: var(--size-m);
}

.margin-l {
    margin: var(--size-l);
}

.gap-s {
    gap: var(--size-s);
}

.gap-m {
    gap: var(--size-m);
}

.gap-l {
    gap: var(--size-l);
}

.border-radius-s {
    border-radius: var(--size-s);
}

.border-radius-m {
    border-radius: var(--size-m);
}

.border-radius-l {
    border-radius: var(--size-l);
}

.border-width-s {
    border-width: 1px;
}

.border-style-solid {
    border-style: solid;
}

.border-style-dashed {
    border-style: dashed;
}

.border-color-gray {
    border-color: var(--lumo-tertiary-text-color);
}

.font-size-xs {
    font-size: x-small;
}

.font-size-s {
    font-size: smaller;
}

.font-size-l {
    font-size: larger;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.cell {
    position: relative;
    overflow: visible;
}

.cell:hover {
    scale: 1.2;
    transform-box: fill-box;
    transform-origin: 50% 50%;
    z-index: 10;
}

.matrix-tooltip {
    background: rgba(60,60,60,0.95);
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: pre;
}

vaadin-grid::part(hover-highlight)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 85, 87, 0.4);
    z-index: 10;
    pointer-events: none; /* don’t block interactions */
}

